body {
    background: rgb(250, 250, 250);
    background-size: clip;
    color: black;
    font-family: 'Segoe UI',
        Arial,
        Helvetica,
        sans-serif;
    font-size: 2em;
    ;
}

td,
th,
table {
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 10vw;
    min-height: 5vh;
    vertical-align: middle;
    text-align: center;
    padding: 3px;
}

th {
    position: sticky;
}

main {
    padding: 1vh;
    empty-cells: show;
}

.txtright {
    text-align: right;
}

.total {
    text-align: left;
}

input[type="number"] {
    background: none;
    border: none;
    font: inherit;
    max-width: 3em;
    width: fit-content;
}

.buttonContainer {
    position: fixed;
    bottom: 1vh;
    left: 1vh;

    button.button {
        font-size: 3vh;
        border-image: linear-gradient(26deg, #5433ff, #20bdff, #a5fecb) 4/4px;
        color: #5ac1ee;
        padding: 1vh 2vw;
        transition: .3s ease-in-out;

        &:hover {
            border-image-width: 10px;
        }
    }
}

.wattage {
    text-align: right;
}

@media print {
    button {
        display: none !important;
    }
}

.del:hover {
    cursor: pointer;
    font-weight: 600;
}