body {
  background: #fafafa;
  background-size: clip;
  color: black;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  font-size: 1em;
  overflow: hidden;
}

td,
th,
table {
  border: 1px solid black;
  border-collapse: collapse;
  min-width: 10vw;
  min-height: 5vh;
  vertical-align: middle;
  text-align: center;
  padding: 3px;
  overflow: hidden;
}

table {
  width: 100vw;
}

.txtright {
  text-align: right;
}

.total {
  text-align: left;
}

.NewbuttonContainer {
  position: fixed;
  bottom: 1vh;
  left: 1vh;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  font-size: 1.3em;
  padding: 1vh 2vw;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin: .2em;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button.T, .button.M {
  -o-border-image: linear-gradient(26deg, #5433ff, #20bdff, #a5fecb) 4/4px;
     border-image: linear-gradient(26deg, #5433ff, #20bdff, #a5fecb) 4/4px;
  color: #5ac1ee;
}

.button:hover {
  border-image-width: 10px !important;
}

@media print {
  button {
    display: none !important;
  }
  div.del,
  td.delP {
    display: none;
    empty-cells: hide;
    width: 0%;
    border: none;
    cursor: pointer;
  }
}

.del:hover {
  cursor: pointer;
  font-weight: 600;
}

#maintable {
  width: 100vw;
  padding: auto;
}

#maintable input[type="number"] {
  background: none;
  border: none;
  font: inherit;
  width: 80%;
  text-align: right;
}

#maintable input[type="number"].P1, #maintable input[type="number"].P2, #maintable input[type="number"].P3 {
  width: 60%;
}

.title {
  width: 100%;
  border: none;
  font-size: 2em;
  text-align: center;
}

nav {
  top: 0;
  background-color: #152d30;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100vw;
  position: fixed;
  height: 5vh;
}

nav:hover {
  background-color: #152030;
}

nav .left {
  float: left;
  text-align: left;
  left: 1vw;
}

nav .right {
  float: right;
  text-align: right;
  right: 1vw;
}

nav .FM {
  display: inline-block;
  margin: 1em;
  color: aliceblue;
  cursor: pointer;
  -webkit-transition: .1;
  transition: .1;
}

nav .FM:hover {
  font-weight: 500;
}

nav .FM #download {
  text-decoration: none;
}

nav .FM #download:visited {
  text-decoration: none;
  color: aliceblue;
}

nav .FM #download:not(:visited) {
  text-decoration: none;
  color: aliceblue;
}

nav .FM.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  color: aliceblue;
}

nav .FM.inputfile + label {
  cursor: pointer;
  color: aliceblue;
}

#headtable {
  margin-top: 7vh;
}

#hovers {
  top: -100%;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  text-align: right;
  font-size: 1.1em;
  position: fixed;
  overflow: hidden;
}

#hovers.activeMes {
  top: 0;
}

#hovers.activeMes #messageContent {
  opacity: 1;
  display: inline-block;
}

#hovers.activeMes #messageContent #dismissMes,
#hovers.activeMes #messageContent #dismissMod {
  cursor: pointer;
}

#hovers.activeMod {
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

#hovers.activeMod #calcModal {
  display: block;
}

#hovers #messageContent {
  display: none;
  opacity: 0;
  color: #d00;
  background-color: #faa;
  border: #d00 1px solid;
  border-radius: 3px;
  padding: .5em;
  -webkit-transition: .5s opacity;
  transition: .5s opacity;
  margin: 2vw;
  position: fixed;
}

#hovers #calcModal {
  display: none;
  margin: 15% auto;
  padding: 1vw;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  width: 80%;
  font-size: 1.2em;
}

#hovers #calcModal input {
  background: none;
  border: none;
  font: inherit;
  width: 8vw;
  text-align: right;
}

#hovers #calcModal .Mtop {
  font-size: 1.5em;
}

#hovers #calcModal .Mtop hr {
  border-top: #222 solid 1px;
}

#hovers #calcModal .Mtitle {
  text-align: left;
  display: block;
  float: left;
}

#hovers #calcModal .Mcontent {
  text-align: center;
}

#hovers #calcModal .Mcontent table,
#hovers #calcModal .Mcontent td,
#hovers #calcModal .Mcontent tr {
  border: none !important;
  width: auto !important;
  min-width: 1vw;
  text-align: right;
}

#hovers #calcModal .Mcontent table .left,
#hovers #calcModal .Mcontent td .left,
#hovers #calcModal .Mcontent tr .left {
  text-align: left;
}

#hovers #calcModal .Mcontent button {
  font-size: 1em;
  -o-border-image: linear-gradient(40deg, #06beb6, #48b1bf) 4/4px;
     border-image: linear-gradient(40deg, #06beb6, #48b1bf) 4/4px;
  color: #06beb6;
}

#hovers #calcModal #dismissMod {
  text-align: right;
}

#hovers #dismissMes,
#hovers #dismissMod {
  text-decoration: none !important;
  cursor: default;
}

#hovers #dismissMes:hover,
#hovers #dismissMod:hover {
  font-weight: 600;
}

#hovers #dismissMes:visited,
#hovers #dismissMod:visited {
  text-decoration: none;
  color: #000;
}

#hovers #dismissMes:not(:visited),
#hovers #dismissMod:not(:visited) {
  text-decoration: none;
  color: #000;
}
/*# sourceMappingURL=style.css.map */