@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    background-color: #191736;
    color: #f9f9f9;
    font-family: 'Nunito',
        'Segoe UI',
        Arial,
        Helvetica,
        sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

$green:#15de97;

header {
    background-color: $green;
    height: 50px;
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    font-size: 1.1em;
    align-items: center;
    overflow: hidden;

    div {
        vertical-align: middle;
        padding: 10px;
        flex: auto;
    }

    #menuOpen {
        text-align: left;
    }

    #pageTitle {
        text-align: center;
        font: 'Segoe UI', 'Nunito', sans-serif;
        font-size: 1.4em;
    }

    #navRight {
        text-align: right;
    }

    box-shadow: -1px 1px 40px#04040b;
}

nav {
    position: fixed;

    &.left {
        left: -251px;
        transition: .3s cubic-bezier(0.19, 1, 0.22, 1);

        &.active {
            left: 0;
            position: fixed;
            height: 100vh;
            background-color: #15de97;
            width: 250px;
        }

        &>a {
            font-size: 1.5em;
            padding: 20px;
        }

        * {
            padding: 10px;
        }
    }

    &.right {
        text-align: right;
        right: -251px;
        transition: .3s cubic-bezier(0.19, 1, 0.22, 1);

        &.active {
            right: 0;
            position: fixed;
            height: 100vh;
            background-color: #15de97;
            width: 250px;
        }

        &>a {
            font-size: 1.5em;
            padding: 20px;
        }

        * {
            padding: 10px;
        }
    }
}